services:
  fastapi:
    image: pivimarco/fastapi:v2 
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    
  streamlit:
    image: pivimarco/streamlit:v2 
    build: 
      context: ./streamlit_app
      dockerfile: Dockerfile
    ports:
      - 8501:8501
    environment:
      API_URL: http://fastapi:8000